p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 20px;
    color: rgb(193, 51, 51);
    font-style: italic;
}