.a7 {
    width: 200px;
    border-radius: 8px;
}

.b7 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.c7 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}

.d7 {
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
}

.e7 {
    border: none;
    border-radius: 25px;
    padding: 8px 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.f7 {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    width: 200px;
}

.f7-text {
    font-size: 11px;
    color: #9c9c9c;
}

.f7-button {
    background-color: rgb(32, 32, 245);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 25px;
    width: 200px;
}

.g7-image {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

.g7-text {
    vertical-align: middle;
    border: none;
}

.g7-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 12px;
    transition: box-shadow 0.15s;
    vertical-align: middle;
}