.e10 {
    width: 120px;
    display: inline-block;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-left: 8px;
}

.e10-image {
    width: 120px;
    height: 130px;
}

.e10-title {
    padding-left: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}

.e10-subtitle {
    padding-left: 4px;
    font-size: 11px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 4px;
}

.e10-button {
    background-color: rgba(10, 105, 255, 0.9);
    color: white;
    font-size: 9px;
    border: none;
    border-radius: 2px;
    padding: 6px 10px;
    margin: 4px;
}

.e10-avatar-row {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.e10-avatar {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    vertical-align: middle;
}

.e10-subtitle-block {
    display: inline-block;
    padding-left: 4px;
    font-size: 11px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 4px;
    text-align: center;
}