.thumbnail {
    width: 100%;
    border-radius: 12px;
}

.video-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* width: 250px; */
}

.profile-picture {
    width: 80%;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 0;
}

.video-stats {
    margin-top: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 4px;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 13px;
    border-radius: 2px;
}